Repository exercism/racket, pull requests merged in 2023-10, with the labels that each got.

#293 Add pop-count
  config.json
  exercises/practice/pop-count/.docs/instructions.md
  exercises/practice/pop-count/.docs/introduction.md
  exercises/practice/pop-count/.meta/config.json
  exercises/practice/pop-count/.meta/example.rkt
  exercises/practice/pop-count/.meta/tests.toml
  exercises/practice/pop-count/pop-count-test.rkt
  exercises/practice/pop-count/pop-count.rkt
Labels: x:module/practice-exercise, x:rep/medium

#296 Format track config.json
  config.json
Labels: x:rep/tiny

#295 Add dnd-character
  config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/dnd-character/.meta/example.rkt
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/dnd-character/dnd-character-test.rkt
  exercises/practice/dnd-character/dnd-character.rkt
Labels: x:module/practice-exercise, x:rep/medium

#301 Run CI on Racket 8.8 - 8.10
  .github/workflows/ci.yml
Labels: x:type/ci, x:rep/tiny

#302 Add binary-search exercise (#297)
  config.json
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/binary-search/.docs/introduction.md
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/binary-search/.meta/example.rkt
  exercises/practice/binary-search/.meta/tests.toml
  exercises/practice/binary-search/binary-search-test.rkt
  exercises/practice/binary-search/binary-search.rkt
Labels: x:module/practice-exercise, hacktoberfest-accepted

#305 Add protein translation exercise (#297)
  config.json
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/example.rkt
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/protein-translation-test.rkt
  exercises/practice/protein-translation/protein-translation.rkt
Labels: x:module/practice-exercise, hacktoberfest-accepted

#306 Add strain exercise (#297)
  config.json
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/strain/.meta/config.json
  exercises/practice/strain/.meta/example.rkt
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/strain-test.rkt
  exercises/practice/strain/strain.rkt
Labels: x:module/practice-exercise, hacktoberfest-accepted
