Repository exercism/racket, pull requests merged in 2023-09, with the labels that each got.

#276 Update gigasecond docs and test
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/gigasecond/gigasecond-test.rkt
Labels: x:module/practice-exercise, x:size/small

#277 Update collatz conjecture
  exercises/practice/collatz-conjecture/.meta/example.rkt
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/collatz-conjecture-test.rkt
Labels: x:module/practice-exercise, x:rep/small

#279 Sync matching brackets and update tests
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/matching-brackets-test.rkt
Labels: x:module/practice-exercise, x:rep/small

#278 Sync tests for armstrong-numbers
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/armstrong-numbers/armstrong-numbers-test.rkt
Labels: x:module/practice-exercise, x:rep/small

#267 Add resistor-color-duo exercise
  config.json
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/example.rkt
  exercises/practice/resistor-color-duo/.meta/tests.toml
  exercises/practice/resistor-color-duo/resistor-color-duo-test.rkt
  exercises/practice/resistor-color-duo/resistor-color-duo.rkt
Labels: x:module/practice-exercise, x:rep/medium

#272 Add resistor-color exercise
  config.json
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/resistor-color/.meta/example.rkt
  exercises/practice/resistor-color/.meta/tests.toml
  exercises/practice/resistor-color/resistor-color-test.rkt
  exercises/practice/resistor-color/resistor-color.rkt
Labels: x:module/practice-exercise, x:rep/medium

#269 Add space-age exercise
  config.json
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.meta/config.json
  exercises/practice/space-age/.meta/example.rkt
  exercises/practice/space-age/.meta/tests.toml
  exercises/practice/space-age/space-age-test.rkt
  exercises/practice/space-age/space-age.rkt
Labels: x:module/practice-exercise, x:rep/medium

#284 Update README
  README.md
Labels: x:type/docs, x:rep/tiny

#285 Add fetch-configlet.ps1
  bin/fetch-configlet.ps1
Labels: x:rep/tiny

#286 Update anagram tests
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/anagram/anagram-test.rkt
  exercises/practice/anagram/anagram.rkt
Labels: x:module/practice-exercise, x:rep/small

#288 Update allergies tests
  exercises/practice/allergies/.meta/tests.toml
  exercises/practice/allergies/allergies-test.rkt
Labels: x:rep/tiny

#287 Update sublist tests
  exercises/practice/sublist/.meta/tests.toml
  exercises/practice/sublist/sublist-test.rkt
  exercises/practice/sublist/sublist.rkt
Labels: x:rep/small

#292 Convert backtick (`) admonition fences to tildes (~)
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/introduction.md
Labels: x:size/tiny

#291 configlet fmt
  exercises/practice/alphametics/.meta/config.json
  exercises/practice/resistor-color/.meta/config.json
Labels: x:rep/tiny
