Repository exercism/racket, pull requests merged in 2024-03, with the labels that each got.

#356 Diamond for Racket
  config.json
  exercises/practice/diamond/.docs/instructions.md
  exercises/practice/diamond/.meta/config.json
  exercises/practice/diamond/.meta/example.rkt
  exercises/practice/diamond/.meta/tests.toml
  exercises/practice/diamond/diamond-test.rkt
  exercises/practice/diamond/diamond.rkt
Labels: x:module/practice-exercise, x:rep/medium

#357 Add Food Chain for Racket
  config.json
  exercises/practice/food-chain/.docs/instructions.md
  exercises/practice/food-chain/.meta/config.json
  exercises/practice/food-chain/.meta/example.rkt
  exercises/practice/food-chain/.meta/tests.toml
  exercises/practice/food-chain/food-chain-test.rkt
  exercises/practice/food-chain/food-chain.rkt
Labels: x:module/practice-exercise, x:rep/medium

#358 Robot simulator for Racket
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/robot-simulator/.meta/example.rkt
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/robot-simulator/robot-simulator-test.rkt
  exercises/practice/robot-simulator/robot-simulator.rkt
Labels: x:module/practice-exercise, x:rep/medium

#359 Parallel letter frequency using for/async
  config.json
  exercises/practice/parallel-letter-frequency/.docs/instructions.md
  exercises/practice/parallel-letter-frequency/.meta/config.json
  exercises/practice/parallel-letter-frequency/.meta/example.rkt
  exercises/practice/parallel-letter-frequency/.meta/tests.toml
  exercises/practice/parallel-letter-frequency/parallel-letter-frequency-test.rkt
  exercises/practice/parallel-letter-frequency/parallel-letter-frequency.rkt
Labels: x:module/practice-exercise, x:rep/medium

#360 Pascal's triangle for Racket
  config.json
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/pascals-triangle/.meta/example.rkt
  exercises/practice/pascals-triangle/.meta/tests.toml
  exercises/practice/pascals-triangle/pascals-triangle-test.rkt
  exercises/practice/pascals-triangle/pascals-triangle.rkt
Labels: x:module/practice-exercise, x:rep/medium

#363 Grade school for Racket
  config.json
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grade-school/.meta/config.json
  exercises/practice/grade-school/.meta/example.rkt
  exercises/practice/grade-school/.meta/tests.toml
  exercises/practice/grade-school/grade-school-test.rkt
  exercises/practice/grade-school/grade-school.rkt
Labels: x:module/practice-exercise, x:rep/large

#364 Kindergarten garden for Racket
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.rkt
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/kindergarten-garden-test.rkt
  exercises/practice/kindergarten-garden/kindergarten-garden.rkt
Labels: x:module/practice-exercise, x:rep/medium

#365 Secret Handshake for Racket
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.rkt
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/secret-handshake-test.rkt
  exercises/practice/secret-handshake/secret-handshake.rkt
Labels: x:module/practice-exercise, x:rep/medium

#368 two-fer: sync
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
Labels: x:size/tiny

#367 sieve: sync
  exercises/practice/sieve/.docs/instructions.md
Labels: x:size/tiny
