Repository exercism/racket, pull requests merged in 2024-09, with the labels that each got.

#397 Sync docs and metadata
  exercises/practice/affine-cipher/.docs/instructions.md
  exercises/practice/bank-account/.docs/instructions.md
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/introduction.md
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.docs/introduction.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/zebra-puzzle/.docs/instructions.md
  exercises/practice/zebra-puzzle/.docs/introduction.md
Labels: x:type/docs, x:rep/tiny

#399 ci(dependabot): change to monthly interval
  .github/dependabot.yml
Labels: x:size/tiny

#402 Inverted the expected and actual test results for all-your-base tests…
  exercises/practice/all-your-base/all-your-base-test.rkt
Labels: x:action/fix, x:rep/small

#403 Fix robot-name tests
  exercises/practice/robot-name/robot-name-test.rkt
Labels: x:module/practice-exercise, x:rep/small
